body {
    font-family: Calibri, serif;
    margin: 0;
}

header {
    background-color: navy;
    padding: 1rem;
    margin: 0;
    border-bottom: black solid 5px;
}

h1 {
    text-align: center;
    color: lightgray;
    margin: 0;
}

section {
    margin: 2rem 25%;
}

ul {
    list-style: none;
}

li {
    margin: 0.25em 0;
}